#mosaic {
  display: grid;
  border: 4px solid #333;
  width: 100%;
  margin-top: 20px;
}

.tile {
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
}

.color-input,
span {
  cursor: pointer;
}

h6 {
  position: relative;
  top: -10px;
}
